.main-form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px; 
}


.pdi-form1 {
    max-width: 220mm;
    height: 760px;
    margin: 10px auto;
    border: 1px solid #ccc;
    padding-right: 1000px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
    width: 1000px;
    box-sizing: border-box;
}

.left-column {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-right: 10px;
}

.main-row {
    display: grid;
    flex-direction: row;

}

.first-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: 100px;
    flex-direction: row;

}

.pdiform-cell {
    margin-left: 10px;
    font-size: 24px;
    font-weight: bolder;
    flex-wrap: nowrap;
    width: 200px;
}


.first-row2 {
    display: grid;
    justify-content: right;
    width: 620px;

}

.pdiregistery-cell {
    display: flex;
    font-size: 0.8em;
    font-weight: bolder;
    font-size: 18px;
}

.first-row3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;

}

.pdiimage-cell {
    display: flex;
    justify-content: center;
    align-items: center;


}

.image {
    max-width: 100%;
    height: auto;
    display: block;
}

.second-row {
    display: flex;
}

.second-cell {
    border: 1px solid #eee;
    padding-right: 1px;
    text-align: left;
    font-size: 0.8em;
    white-space: nowrap;
    height: 33px;
    display: flex;
    align-items: center;
   width: 202px;
}



.kmbox{
    width: 100px;
    height: 10px;
    margin-right: 10px;
    resize: none;
}

.cell-text {
    margin-left: 5px;
    width: 100px;
    margin-right: -25px;
}

.third-row {
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    width: 1000px;
   
}

.third-cell {
    border: 1px solid #eee;
    padding: 5mm;
    text-align: center;
    font-size: 0.8em;
    width: 10px;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    
}

.fourth-cell {
    border: 1px solid #eee;
    padding: 5mm;
    text-align: center;
    font-size: 0.8em;
    width: 911px;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    white-space: nowrap;
    
}

.fourth-row {
    display: flex;
    height: 100px;
    flex-direction: row;
    width: 1000px;
}

.fifth-cell {
    border: 1px solid #eee;
    padding: 5mm;
    text-align: center;
    font-size: 18px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    height: 462px;
    writing-mode: vertical-rl;
    rotate: 180deg;

}

.sixth-cell {
    height: 500px;
    display: flex;
    flex-direction: row;
    border: 1px solid #eee;
}

.lines {
    display: flex;
    flex-direction: row;
    height: 53.8px
}

.seventh-cell {
    display: flex;
    border: 1px solid #eee;
    height: 53.8px;
    width: 50px;
    align-items: center;
    justify-content: center;
}

.eighth-cell {
    width: 485px;
    display: flex;
    border: 1px solid #eee;
    height: 53.8px;
    align-items: center;
    justify-content: flex-start;
}

.pdi-form2 {
    max-width: 210mm;
    height: 760px;
    margin: 10px auto;
    border: 1px solid #ccc;
    padding-right: 1000px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.form2-first-row {
    display: flex;
    flex-direction: row;
    width: 1000px;
    justify-content: space-evenly;
}

.form2-first-cell {
    border: 1px solid #eee;
    width: 400px;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 0.8em;
}

.form2-second-row-container {
    display: flex;
    flex-direction: row;
    width: 1000px;
}

.form2-second-row {
    border: 1px solid #eee;
    width: 332px;
    height: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form2-second-row label {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 13px;
    gap: 2px;
    text-align: center;
}

.form2-second-row label:last-child {
    gap: 2px;
    text-align: center;
}

.form2-third-row {
    border: 1px solid #eee;
    width: 333px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 340px;
}

.form2-third-row label {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 14px;
    gap: 10px;

}

.form2-fifth-row {
    border: 1px solid #eee;
    width: 333px;
    display: flex;
    flex-direction: column;
    height: 338px;
}

.form2-fifth-row label {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    gap: 10px;
}

.form2-fifth-row-text {
    text-align: left;
    margin-bottom: 80px;
    font-size: 0.8em;
}


.form2-fourth-row {
    display: flex;
    flex-direction: column;
    width: 333px;
    border: 1px solid #eee;
    height: 340px;
}

.form2-fourth-row label {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;

}

.form2-fourth-row-top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 60px;
    gap:5px
}

.fuel-section {
    display: flex;
    margin-top: 20px;
}

.fuel-type {
    display: flex;
    flex-direction: column;
}


.fuel-litre {
    display: flex;
    flex-direction: column;
}


.fuel-litre input {
    width: 50px;
}

.fuel-litre input:last-child {
   margin-top: 2px;
}

.fuel-section {
    gap: 50px;
    display: flex;
    justify-content: center;
}

.form2-sixth-row {
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    height: 338px;
}

.form2-sixth-row-text {
    font-size: 0.8em;
}

.additionalNotes {
width: 300px;
height: 300px;
resize: none;
margin-left:15px;
margin-top: 5px;
}


.fuel-type-headers{
    margin-top: 10px;
}

.form2-last-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 50px;
}

.form2-last-row label {
    margin-right: 15px;
}
.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 960px;
}
